{% block wysiwyg_widget %}

    <div class="wysiwyg">
        <input id="{{ id }}" name="{{ full_name }}" class="wysiwyg__form-input" type="hidden" value="{{ value }}"/>

        {% spaceless %}
            <div class="wysiwyg__react-wrapper"></div>
        {% endspaceless %}

        {#<script src="{{ asset('bundles/lin3scmskernel/js/formType/wysiwyg.js') }}"></script>#}
    </div>

{% endblock %}
