{% trans_default_domain 'CmsKernelAdminBridge' %}

{% set url = 'bengor_user_' ~ cms_kernel_admin_bridge.user_type ~ '_logout' %}

<div class="layout-header">
    {% if cms_kernel_admin_bridge.locales|length > 1 %}
        <div class="layout-header__language-switcher">
            {% include '@CmsKernelAdminBridge/components/language_switcher.html.twig' %}
        </div>
    {% endif %}
    <div class="layout-header__me">{{ 'cms_kernel_admin_bridge.header.me' | trans({'%email%': app.user.email}) }}</div>
    <a href="{{ path(url) }}" class="button button--primary layout-header__button">
        {{- 'cms_kernel_admin_bridge.header.logout' | trans -}}
    </a>
</div>
