{% form_theme form '@LIN3SAdmin/form.html.twig' %}

{%- block template_content -%}
    <div class="js-template">
        {{ block('content') }}
    </div>
{%- endblock -%}

{% block content %}
    {{ form_widget(form) }}
{% endblock %}
