{% trans_default_domain 'CmsKernelAdminBridge' %}

<div class="language-switcher">
    {% for locale in locales %}
        {% set localeTrans = 'cms_kernel_admin_bridge.locale.' ~ locale %}

        <a class="language-switcher__language{% if app.request.locale == locale %} language-switcher__language--current{% endif %}"
           href="{{ path('cms_kernel_admin_bridge_switch_locale', {_locale: locale}) }}">{{ localeTrans | trans }}</a>
    {% endfor %}
</div>
