<div class="translate-list-field-head{% if '_' in cms_kernel_admin_bridge.locales[0] %} translate-list-field-head--flexible{% endif %}">
    {% for locale in cms_kernel_admin_bridge.locales %}
        {% if '_' in locale %}
            {% set language = locale|split('_')[0] %}
            {% set country = locale|split('_')[1] %}

            {% if language == 'eu' %}
                <img class="translate-list-field-head__flag"
                     src="{{ asset('bundles/cmskerneladminbridge/images/_basque-country.png') }}"/>
            {% else %}
                <img class="translate-list-field-head__flag"
                     src="{{ asset('bundles/cmskerneladminbridge/images/' ~ country | upper ~ '.png') }}"/>
            {% endif %}
        {% else %}
            <div class="translate-list-field-head__flag">{{ locale }}</div>
        {% endif %}
    {% endfor %}
</div>
