<div class="translate-list-field-head">
    {% for locale in cms_kernel_admin_bridge.locales %}
        {% set language = locale|split('_')[0] %}
        {% set country = locale|split('_')[1] %}

        {% if language == 'eu' %}
            <img class="translate-list-field-head__flag"
                 src="{{ asset('bundles/cmskerneladminbridge/images/_basque-country.png') }}"/>
        {% else %}
            <img class="translate-list-field-head__flag"
                 src="{{ asset('bundles/cmskerneladminbridge/images/' ~ country | upper ~ '.png') }}"/>
        {% endif %}
    {% endfor %}
</div>
