<div class="translate-list-field-head">
    {% for locale in locales %}
        {% set locale = locale|split('_')[0] %}

        {% if locale == 'en' %}
            <img class="translate-list-field-head__flag"
                 src="{{ asset('bundles/cmskerneladminbridge/images/GB.png') }}"/>
        {% elseif locale == 'es' %}
            <img class="translate-list-field-head__flag"
                 src="{{ asset('bundles/cmskerneladminbridge/images/ES.png') }}"/>
        {% elseif locale == 'fr' %}
            <img class="translate-list-field-head__flag"
                 src="{{ asset('bundles/cmskerneladminbridge/images/FR.png') }}"/>
        {% elseif locale == 'eu' %}
            <img class="translate-list-field-head__flag"
                 src="{{ asset('bundles/cmskerneladminbridge/images/_basque-country.png') }}"/>
        {% endif %}
    {% endfor %}
</div>
