{% extends '@Lin3sAdmin/Admin/form.html.twig' %}

{% trans_default_domain 'CmsKernelAdminBridge' %}

{% set language = 'cms_kernel_admin_bridge.locale.' ~ locale %}

{% block lin3s_admin_title %}
    {% trans with {
        '%language%': language | trans,
        '%entity%': entityConfig.printNames.singular | trans | lower
    } %}
        cms_kernel_admin_bridge.edit.title
    {% endtrans %}
{% endblock %}

{% block lin3s_admin_global_actions %}
    {% set url = url('lin3s_admin_custom', {
        action: 'removeTranslation',
        entity: entityConfig.name,
        entityConfig: entityConfig,
        id: entity.id,
        locale: locale
    }) %}

    <div id="react-confirmation-modal-remove-translation"
         data-url="{{ url }}"
         data-message-title="{{ 'cms_kernel_admin_bridge.remove_translation.confirmation_modal.title' | trans }}"
         data-message-description="{{ 'cms_kernel_admin_bridge.remove_translation.confirmation_modal.description' | trans }}"
         data-button-title="{{ 'cms_kernel_admin_bridge.remove_translation.button' | trans }}"
         data-button-style="button"></div>
{% endblock %}
