{#
    This file is part of the CMS Kernel package.

    Copyright (c) 2016-present LIN3S <info@lin3s.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @author Mikel Tuesta <mikeltuesta@gmail.com>
#}

{% block menu_tree_widget %}
    <div class="form__group">
        {{ form_label(form) }}
        <div class="menu-tree">
            {{- form_row(form.tree, {
                attr: {
                    'class': 'menu-tree__form-input'
                }
            }) -}}
            <div class="menu-tree__react-wrapper"></div>
        </div>
    </div>

    <script src="{{ asset('bundles/lin3scmskernel/js/components/menutree.min.js') }}"></script>
{% endblock %}
